wsdl/tp1-internal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
  xmlns:d2ns="http://datex2.eu/schema/3/d2Payload"
  xmlns:dgt="http://datex2.eu/schema/3/dangerousGoodsTransport"  
  xmlns:impl="http://dgtina.org/tp1/wsdl/tp1-internal/1.0"
  xmlns:intf="http://dgtina.org/tp1/wsdl/tp1-internal/1.0"
  xmlns:tns2="http://dgtina.org/exchange-model/schema/exchange-model/1.0"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://dgtina.org/tp1/wsdl/tp1-internal/1.0">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    targetNamespace="http://dgtina.org/tp1/wsdl/tp1-internal/1.0">
      <import namespace="http://datex2.eu/schema/3/d2Payload" schemaLocation="../../data-model/schema/DATEXII_3_D2Payload.xsd"/>
      <import namespace="http://datex2.eu/schema/3/dangerousGoodsTransport" schemaLocation="../../data-model/schema/DATEXII_3_DangerousGoodsTransport.xsd"/>
      <import namespace="http://dgtina.org/exchange-model/schema/exchange-model/1.0" schemaLocation="../../exchange-model/schema/exchange-model.xsd"/>
      <complexType name="SaveTrackingDataVehicle">
        <sequence>
          <element name="dgPublication" type="dgt:DGPublication" />
        </sequence>
      </complexType>
      <element name="saveTrackingDataVehicle" type="impl:SaveTrackingDataVehicle"/>
      <complexType name="SaveTrackingDataVehicleResponse">
        <sequence>
          <element name="return" type="boolean"/>
        </sequence>
      </complexType>
      <element name="saveTrackingDataVehicleResponse" type="impl:SaveTrackingDataVehicleResponse"/>
      <complexType name="GetDGTDocument">
        <sequence>
        	<element name="idTransportUnit" type="xsd:string" />
        	<element name="countryCode" type="xsd:string" />
        	<element name="requestReason" type="tns2:RequestReasonEnum" />
        	<element name="requestingParty" type="tns2:PublicService" minOccurs="1" maxOccurs="1"></element>
        </sequence>
      </complexType>
      <element name="getDGTDocument" type="impl:GetDGTDocument"/>
      <complexType name="GetArchiveJourneyList">
        <sequence>
          <element name="idTransportUnit" type="xsd:string"/>
          <element name="countryCode" type="xsd:string"/>
          <element name="startTime" type="xsd:dateTime"/>
          <element name="finishTime" type="xsd:dateTime"/>
        </sequence>
      </complexType>
      <element name="getArchiveJourneyList" type="impl:GetArchiveJourneyList"/>
      <complexType name="GetDGTDocumentResponse">
        <choice>
          <element ref="tns2:ErrorMessageException"/>
          <sequence>
            <element name="dgPublication" type="dgt:DGPublication" />
            <element name="exchange" type="tns2:Exchange" />
          </sequence>
        </choice>
      </complexType>
      <element name="getDGTDocumentResponse" type="impl:GetDGTDocumentResponse"/>
      <complexType name="GetArchiveJourneyListResponse">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" ref="tns2:Journey"/>
        </sequence>
      </complexType>
      <element name="getArchiveJourneyListResponse" type="impl:GetArchiveJourneyListResponse"/>
      <complexType name="HandleLoadedVehicle">
        <sequence>
          <element name="dgPublication" type="dgt:DGPublication" />
          <element name="activation" type="boolean"/>
        </sequence>
      </complexType>
      <element name="handleLoadedVehicle" type="impl:HandleLoadedVehicle"/>
      <complexType name="HandleLoadedVehicleResponse">
        <sequence>
          <element name="return" type="boolean"/>
        </sequence>
      </complexType>
      <element name="handleLoadedVehicleResponse" type="impl:HandleLoadedVehicleResponse"/>
      <complexType name="SendTP2RegistrationRequestRequestMessage">
        <sequence>
          <element name="tp2" type="tns2:TP2"/>
        </sequence>
      </complexType>
      <element name="sendTP2RegistrationRequestRequestMessage" type="impl:SendTP2RegistrationRequestRequestMessage"/>
      <complexType name="SendTP2RegistrationRequestResponse">
        <sequence>
          <element name="return" type="boolean"/>
        </sequence>
      </complexType>
      <element name="sendTP2RegistrationRequestResponse" type="impl:SendTP2RegistrationRequestResponse"/>
      <complexType name="GetTransportUnitByArea">
        <sequence>
          <element name="x" type="xsd:float"/>
          <element name="y" type="xsd:float"/>
          <element name="radius" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="1" name="requestReason" type="tns2:RequestReasonEnum"/>
        </sequence>
      </complexType>
      <element name="getTransportUnitByArea" type="impl:GetTransportUnitByArea"/>
      <complexType name="GetTransportUnitByAreaResponse">
        <sequence>
          <element name="idsTransportUnit" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
        </sequence>
      </complexType>
      <element name="getTransportUnitByAreaResponse" type="impl:GetTransportUnitByAreaResponse"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="saveTrackingDataVehicleRequestMessage">
    <wsdl:part element="impl:saveTrackingDataVehicle" name="position">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveTrackingDataVehicleResponseMessage">
    <wsdl:part element="impl:saveTrackingDataVehicleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="handleLoadedVehicleRequestMessage">
    <wsdl:part element="impl:handleLoadedVehicle" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="handleLoadedVehicleResponseMessage">
    <wsdl:part element="impl:handleLoadedVehicleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendTP2RegistrationRequestRequestMessage">
    <wsdl:part element="impl:sendTP2RegistrationRequestRequestMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ErrorMessageException">
    <wsdl:part element="tns2:ErrorMessageException" name="ErrorMessageException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getArchiveJourneyListResponseMessage">
    <wsdl:part element="impl:getArchiveJourneyListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendTP2RegistrationRequestResponseMessage">
    <wsdl:part element="impl:sendTP2RegistrationRequestResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getArchiveJourneyListRequest">
    <wsdl:part element="impl:getArchiveJourneyList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDGTDocumentRequestMessage">
    <wsdl:part element="impl:getDGTDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDGTDocumentResponseMessage">
    <wsdl:part element="impl:getDGTDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTransportUnitByAreaRequest">
    <wsdl:part element="impl:getTransportUnitByArea" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTransportUnitByAreaResponseMessage">
    <wsdl:part element="impl:getTransportUnitByAreaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TP1InternalServices">
    <wsdl:operation name="getDGTDocument">
      <wsdl:input message="impl:getDGTDocumentRequestMessage">
    </wsdl:input>
      <wsdl:output message="impl:getDGTDocumentResponseMessage">
    </wsdl:output>
      <wsdl:fault message="impl:ErrorMessageException" name="ErrorMessageException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getArchiveJourneyList">
      <wsdl:input message="impl:getArchiveJourneyListRequest">
    </wsdl:input>
      <wsdl:output message="impl:getArchiveJourneyListResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransportUnitByArea">
      <wsdl:input message="impl:getTransportUnitByAreaRequest">
    </wsdl:input>
      <wsdl:output message="impl:getTransportUnitByAreaResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TP1InternalServicesSoapBinding" type="impl:TP1InternalServices">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="saveTrackingDataVehicle">
      <wsdlsoap:operation soapAction="saveTrackingDataVehicle" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="handleLoadedVehicle">
      <wsdlsoap:operation soapAction="handleLoadedVehicle" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendTP2RegistrationRequest">
      <wsdlsoap:operation soapAction="sendTP2RegistrationRequest" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorMessageException">
        <wsdlsoap:fault name="ErrorMessageException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDGTDocument">
      <wsdlsoap:operation soapAction="getDGTDocument" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArchiveJourneyList">
      <wsdlsoap:operation soapAction="getArchiveJourneyList" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
        <!--         <wsdlsoap:body parts="idTransportUnit" use="literal"/>
        <wsdlsoap:body parts="startTime" use="literal"/>
        <wsdlsoap:body parts="finishTime" use="literal"/>  -->
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransportUnitByArea">
      <wsdlsoap:operation soapAction="getTransportUnitByArea" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TP1InternalServicesService">
    <wsdl:port binding="impl:TP1InternalServicesSoapBinding" name="TP1InternalServices">
      <wsdlsoap:address location="http://localhost/internal/1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
