wsdl/tp1-tp2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
  xmlns:d2ns="http://datex2.eu/schema/3/d2Payload"
  xmlns:dgt="http://datex2.eu/schema/3/dangerousGoodsTransport"  
  xmlns:impl="http://dgtina.org/tp1/wsdl/tp1-tp2/1.0"
  xmlns:intf="http://dgtina.org/tp1/wsdl/tp1-tp2/1.0"
  xmlns:tns2="http://dgtina.org/exchange-model/schema/exchange-model/1.0"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://dgtina.org/tp1/wsdl/tp1-tp2/1.0">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
      elementFormDefault="qualified"
      targetNamespace="http://dgtina.org/tp1/wsdl/tp1-tp2/1.0">
      <import namespace="http://datex2.eu/schema/3/dangerousGoodsTransport" schemaLocation="../../data-model/schema/DATEXII_3_DangerousGoodsTransport.xsd"/>
      <import namespace="http://datex2.eu/schema/3/d2Payload" schemaLocation="../../data-model/schema/DATEXII_3_D2Payload.xsd"/>
      <import namespace="http://dgtina.org/exchange-model/schema/exchange-model/1.0" schemaLocation="../../exchange-model/schema/exchange-model.xsd"/>
      <complexType name="SaveTrackingDataVehicle">
        <sequence>
          <element name="dgPublication" type="dgt:DGPublication" />
        </sequence>
      </complexType>
      <element name="saveTrackingDataVehicle" type="impl:SaveTrackingDataVehicle"/>
      <complexType name="SaveTrackingDataVehicleResponse">
        <sequence>
          <element name="return" type="boolean"/>
        </sequence>
      </complexType>
      <element name="saveTrackingDataVehicleResponse" type="impl:SaveTrackingDataVehicleResponse"/>
      <complexType name="HandleLoadedVehicle">
        <sequence>
          <element name="dgPublication" type="dgt:DGPublication" />
          <element name="activation" type="boolean"/>
        </sequence>
      </complexType>
      <element name="handleLoadedVehicle" type="impl:HandleLoadedVehicle"/>
      <complexType name="HandleLoadedVehicleResponse">
        <sequence>
          <element name="return" type="boolean"/>
        </sequence>
      </complexType>
      <element name="handleLoadedVehicleResponse" type="impl:HandleLoadedVehicleResponse"/>
      <complexType name="SendTP2RegistrationRequestRequestMessage">
        <sequence>
          <element name="tp2" type="tns2:TP2"/>
        </sequence>
      </complexType>
      <element name="sendTP2RegistrationRequestRequestMessage" type="impl:SendTP2RegistrationRequestRequestMessage"/>
      <complexType name="SendTP2RegistrationRequestResponse">
        <sequence>
          <element name="return" type="boolean"/>
        </sequence>
      </complexType>
      <element name="sendTP2RegistrationRequestResponse" type="impl:SendTP2RegistrationRequestResponse"/>
    </schema>
  </wsdl:types>
  
  <wsdl:message name="saveTrackingDataVehicleRequestMessage">
    <wsdl:part element="impl:saveTrackingDataVehicle" name="position">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveTrackingDataVehicleResponseMessage">
    <wsdl:part element="impl:saveTrackingDataVehicleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="handleLoadedVehicleRequestMessage">
    <wsdl:part element="impl:handleLoadedVehicle" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="handleLoadedVehicleResponseMessage">
    <wsdl:part element="impl:handleLoadedVehicleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendTP2RegistrationRequestRequestMessage">
    <wsdl:part element="impl:sendTP2RegistrationRequestRequestMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendTP2RegistrationRequestResponseMessage">
    <wsdl:part element="impl:sendTP2RegistrationRequestResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ErrorMessageException">
    <wsdl:part element="tns2:ErrorMessageException" name="ErrorMessageException">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="TP1TP2Services">
    <wsdl:operation name="saveTrackingDataVehicle">
      <wsdl:input message="impl:saveTrackingDataVehicleRequestMessage">
    </wsdl:input>
      <wsdl:output message="impl:saveTrackingDataVehicleResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="handleLoadedVehicle">
      <wsdl:input message="impl:handleLoadedVehicleRequestMessage">
    </wsdl:input>
      <wsdl:output message="impl:handleLoadedVehicleResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendTP2RegistrationRequest">
      <wsdl:input message="impl:sendTP2RegistrationRequestRequestMessage">
    </wsdl:input>
      <wsdl:output message="impl:sendTP2RegistrationRequestResponseMessage">
    </wsdl:output>
      <wsdl:fault message="impl:ErrorMessageException" name="ErrorMessageException">
    </wsdl:fault>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="TP1TP2ServicesSoapBinding" type="impl:TP1TP2Services">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="saveTrackingDataVehicle">
      <wsdlsoap:operation soapAction="saveTrackingDataVehicle" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="handleLoadedVehicle">
      <wsdlsoap:operation soapAction="handleLoadedVehicle" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendTP2RegistrationRequest">
      <wsdlsoap:operation soapAction="sendTP2RegistrationRequest" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorMessageException">
        <wsdlsoap:fault name="ErrorMessageException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TP1TP2ServicesService">
    <wsdl:port binding="impl:TP1TP2ServicesSoapBinding" name="TP1TP2Services">
      <wsdlsoap:address location="http://localhost/tp2/1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
