wsdl/tp1-external.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
  xmlns:apachesoap="http://xml.apache.org/xml-soap"
  xmlns:d2ns="http://datex2.eu/schema/3/d2Payload"
  xmlns:dgt="http://datex2.eu/schema/3/dangerousGoodsTransport"  
  xmlns:impl="http://dgtina.org/tp1/wsdl/tp1-external/1.0"
  xmlns:intf="http://dgtina.org/tp1/wsdl/tp1-external/1.0"
  xmlns:tns2="http://dgtina.org/exchange-model/schema/exchange-model/1.0"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://dgtina.org/tp1/wsdl/tp1-external/1.0">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" 
      elementFormDefault="qualified" 
      targetNamespace="http://dgtina.org/tp1/wsdl/tp1-external/1.0">
      <import namespace="http://datex2.eu/schema/3/dangerousGoodsTransport" schemaLocation="../../data-model/schema/DATEXII_3_DangerousGoodsTransport.xsd"/>
      <import namespace="http://datex2.eu/schema/3/d2Payload" schemaLocation="../../data-model/schema/DATEXII_3_D2Payload.xsd"/>
      <import namespace="http://dgtina.org/exchange-model/schema/exchange-model/1.0" schemaLocation="../../exchange-model/schema/exchange-model.xsd"/>
      <complexType name="SendPublicServiceRegistrationRequest">
        <sequence>
          <element name="publicService" type="tns2:PublicService"/>
        </sequence>
      </complexType>
      <element name="sendPublicServiceRegistrationRequest" type="impl:SendPublicServiceRegistrationRequest"/>
      <complexType name="SendPublicServiceRegistrationRequestResponse">
        <sequence>
          <element name="return" type="boolean"/>
        </sequence>
      </complexType>
      <element name="sendPublicServiceRegistrationRequestResponse" type="impl:SendPublicServiceRegistrationRequestResponse"/>
      <complexType name="GetDGTDocument">
        <sequence>
          <element name="idTransportUnit" type="xsd:string"/>
          <element name="countryCode" type="xsd:string"/>
          <element name="requestReason" type="tns2:RequestReasonEnum"/>
        </sequence>
      </complexType>
      <element name="getDGTDocument" type="impl:GetDGTDocument"/>
      <complexType name="GetArchiveJourneyList">
        <sequence>
          <element name="idTransportUnit" type="xsd:string"/>
          <element name="countryCode" type="xsd:string"/>
          <element name="startTime" type="xsd:dateTime"/>
          <element name="finishTime" type="xsd:dateTime"/>
        </sequence>
      </complexType>
      <element name="getArchiveJourneyList" type="impl:GetArchiveJourneyList"/>
      <complexType name="GetDGTDocumentResponse">
        <choice>
          <element ref="tns2:ErrorMessageException" />
	    <sequence>
	      <element name="dgPublication" type="dgt:DGPublication" />
	      <element name="exchange" type="tns2:Exchange" />
	    </sequence>
        </choice>
      </complexType>
      <element name="getDGTDocumentResponse" type="impl:GetDGTDocumentResponse"/>
      <complexType name="GetArchiveJourneyListResponse">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" ref="tns2:Journey"/>
        </sequence>
      </complexType>
      <element name="getArchiveJourneyListResponse" type="impl:GetArchiveJourneyListResponse"/>
      <complexType name="GetDynamicInformation">
        <sequence>
        	<element name="idTransportUnit" type="xsd:string" />
        	<element name="countryCode" type="string"></element>
        	<element name="requestReason"
        		type="tns2:RequestReasonEnum" maxOccurs="1" minOccurs="1">
        	</element>
        </sequence>
      </complexType>
      <element name="getDynamicInformation" type="impl:GetDynamicInformation"/>
      <complexType name="GetDynamicInformationResponse">
        <sequence>
          <element name="dgPublication" type="dgt:DGPublication" />
        </sequence>
      </complexType>
      <element name="getDynamicInformationResponse" type="impl:GetDynamicInformationResponse"/>
      <complexType name="GetTransportUnitByArea">
        <sequence>
        	<element name="x" type="xsd:float" />
        	<element name="y" type="xsd:float" />
        	<element name="radius" type="xsd:int" />
        	<element name="requestReason"
        		type="tns2:RequestReasonEnum" maxOccurs="1" minOccurs="1">
        	</element>
        </sequence>
      </complexType>
      <element name="getTransportUnitByArea" type="impl:GetTransportUnitByArea"/>
      <complexType name="GetTransportUnitByAreaResponse">
        <sequence maxOccurs="unbounded" minOccurs="0">
        	<element name="idsTransportUnit" type="xsd:string" />
        	<element name="countryCode" type="string" />
        </sequence>
      </complexType>
      <element name="getTransportUnitByAreaResponse" type="impl:GetTransportUnitByAreaResponse"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="getDynamicInformationRequest">
    <wsdl:part element="impl:getDynamicInformation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDynamicInformationResponseMessage">
    <wsdl:part element="impl:getDynamicInformationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTransportUnitByAreaRequest">
    <wsdl:part element="impl:getTransportUnitByArea" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTransportUnitByAreaResponseMessage">
    <wsdl:part element="impl:getTransportUnitByAreaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDGTDocumentResponseMessage">
    <wsdl:part element="impl:getDGTDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getArchiveJourneyListResponseMessage">
    <wsdl:part element="impl:getArchiveJourneyListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDGTDocumentRequestMessage">
    <wsdl:part element="impl:getDGTDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getArchiveJourneyListRequest">
    <wsdl:part element="impl:getArchiveJourneyList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ErrorMessageException">
    <wsdl:part element="tns2:ErrorMessageException" name="ErrorMessageException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendPublicServiceRegistrationRequestResponse">
    <wsdl:part element="impl:sendPublicServiceRegistrationRequestResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendPublicServiceRegistrationRequestRequest">
    <wsdl:part element="impl:sendPublicServiceRegistrationRequest" name="publicService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TP1AuthorityServices">
    <wsdl:operation name="sendPublicServiceRegistrationRequest">
      <wsdl:input message="impl:sendPublicServiceRegistrationRequestRequest">
    </wsdl:input>
      <wsdl:output message="impl:sendPublicServiceRegistrationRequestResponse">
    </wsdl:output>
      <wsdl:fault message="impl:ErrorMessageException" name="ErrorMessageException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDGTDocument">
      <wsdl:input message="impl:getDGTDocumentRequestMessage">
    </wsdl:input>
      <wsdl:output message="impl:getDGTDocumentResponseMessage">
    </wsdl:output>
      <wsdl:fault message="impl:ErrorMessageException" name="ErrorMessageException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getArchiveJourneyList">
      <wsdl:input message="impl:getArchiveJourneyListRequest">
    </wsdl:input>
      <wsdl:output message="impl:getArchiveJourneyListResponseMessage">
    </wsdl:output>
      <wsdl:fault message="impl:ErrorMessageException" name="ErrorMessageException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDynamicInformation">
      <wsdl:input message="impl:getDynamicInformationRequest">
    </wsdl:input>
      <wsdl:output message="impl:getDynamicInformationResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransportUnitByArea">
      <wsdl:input message="impl:getTransportUnitByAreaRequest">
    </wsdl:input>
      <wsdl:output message="impl:getTransportUnitByAreaResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TP1AuthorityServicesSoapBinding" type="impl:TP1AuthorityServices">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendPublicServiceRegistrationRequest">
      <wsdlsoap:operation soapAction="sendPublicServiceRegistrationRequest" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorMessageException">
        <wsdlsoap:fault name="ErrorMessageException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDGTDocument">
      <wsdlsoap:operation soapAction="getDGTDocument" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorMessageException">
        <wsdlsoap:fault name="ErrorMessageException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getArchiveJourneyList">
      <wsdlsoap:operation soapAction="getArchiveJourneyList" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ErrorMessageException">
        <wsdlsoap:fault name="ErrorMessageException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDynamicInformation">
      <wsdlsoap:operation soapAction="getDynamicInformation" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransportUnitByArea">
      <wsdlsoap:operation soapAction="getTransportUnitByArea" style="document"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TP1AuthorityServicesService">
    <wsdl:port binding="impl:TP1AuthorityServicesSoapBinding" name="TP1AuthorityServices">
      <wsdlsoap:address location="http://localhost/external/1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
